Untitled*
_builds
_projects
_steps
ipynb
html
htmlbook
data/dm*
*.pyc
**/__pycache__
\.#*
.*.swp
data/counts.txt
build_html/*
build_ipynb/*
figures/generated/*
.matplotlib/*.cache
*~
\#*
.ipynb_checkpoints
